body {
  background-color: #a1a1a1;
  overflow: hidden;
}

.btn {
  width: 50%;
  margin: 20px 0;
}
.App {
  margin: 25px 15px !important;
  .App-container {
    overflow: hidden;
    background-color: #698661;

    height: 80vh;
  }

  &-cover {
    transition: 0.5s all;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: none;
    .loading-text {
      color: #fff;
      text-align: center;

      margin-top: 10vh;
    }
  }
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  img {
    width: 28vw;
    height: auto;
    max-width: 200px;
  }
}

.footer-container {
  display: flex;
}

.nes-container {
  padding: 0 !important;
}

.map-container {
  height: 90vh;
}

.slideMenu {
  background-color: rgb(161, 161, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20px;
  left: -10vw;
  transition: 0.3s all;
  width: 90vw;
  white-space: nowrap;

  &-checkbox {
    margin: 5px 0 0 20vw;
  }

  &-btn {
    transition: 0.6s all;
  }
}

.mapIcon {
  max-width: 200px !important;
  transition: background-color 0.3s, opacity 0.3s;
}

.control-container {
  position: absolute;
  top: 5px;
  right: 50px;
  width: 55px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
  background-color: #a1a1a1;
  .center-btn {
    background-image: url("./img/locate.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  .edit-btn {
    background-image: url("./img/edit.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }

  .reload-btn {
    background-image: url("./img/reload.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}
